---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={'404 File Not Found - ' + SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main class="homepage">
			<img src="/branding/me.gif" alt="blinking me" class="homepage-logo">
			<h1>404</h1>
			<h3>File Not Found</h3>
		</main>
		<Footer />
	</body>
</html>