---
import Layout from '../layouts/BlogPost.astro';
---

<Layout title="About Me" description="A short description of what I do." pubDate={new Date('August 3, 2023')} heroImage="/branding/me.gif" transition:name="me-blinking">
	<p>
		Hello there! I'm Joshua, a passionate and versatile freelance developer, and I'm thrilled to have you visit my personal website. Here you'll find a digital canvas where I
		bring ideas to life through lines of code, creating unique and impactful web experiences.
	</p>
	<p>
		With a keen eye for detail and a love for problem-solving, I craft elegant solutions that combine functionality and aesthetics. My journey as a developer has allowed me to
		explore various technologies and programming languages, empowering me to tackle diverse projects with ease.
	</p>
	<p>
		Whether it's building user-friendly websites, optimizing existing code, or developing custom applications, my focus is always on delivering top-notch results that exceed
		expectations. I pride myself on understanding my clients' needs and transforming their visions into reality.
	</p>
	<p>
		Feel free to browse through my portfolio to see examples of my work. I'm always excited to collaborate on new projects, so if you have an idea in mind or need a tech-savvy
		partner for your venture, don't hesitate to get in touch!
	</p>
	<p>Thank you for stopping by, and I hope my passion for development resonates with you. Let's embark on a journey of innovation together!</p>
</Layout>
