---
const today = new Date();
import SocialLinks from './SocialLinks.astro';
---

<footer>
	&copy;&nbsp;{today.getFullYear()}&nbsp;Joshua&nbsp;Tahanlangit. All&nbsp;rights&nbsp;reserved.
	<div class="spacer">
		<SocialLinks footer={true} />
	</div>
</footer>
<style>
	footer {
		padding: 2em 1em 6em 1em;
		background-color: rgba(var(--footer-background-color-rgb), 0.8);
		color: var(--footer-text-color);
		text-align: center;
	}

	.spacer {
		margin-top: 1em;
	}
</style>
