---
import HeaderLink from './HeaderLink.astro';
import SocialLinks from './SocialLinks.astro';
---

<header>
	<nav>
		<h2>
			<a href="/" class="brand-logo">
				<img src="/branding/me-silhouette.png" alt="thisjt branding logo" />
				<span class="branding-title">thisjt.me</span>
			</a>
		</h2>
		<div class="internal-links">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
		</div>
		<SocialLinks footer={false} />
	</nav>
</header>
<style lang="scss">
	header {
		margin: 0;
		padding: 0 1em;
		background: var(--header-background-color);
		box-shadow: 0 2px 8px rgba(var(--black), 5%);
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
	}
	.brand-logo {
		display: flex;
		align-items: center;
	}
	.brand-logo img {
		width: 1em;
		margin-right: 1.2rem;
	}
	h2 {
		margin: 0;
		font-size: 1em;

		a,
		a.active {
			text-decoration: none;
		}
	}

	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;

		a {
			padding: 1em 0.5em;
			color: var(--header-text-color);
			border-bottom: 4px solid transparent;
			text-decoration: none;

			&.active {
				text-decoration: none;
				border-bottom-color: var(--accent);
			}
		}
	}

	@media (max-width: 720px) {
		.branding-title {
			display: none;
		}
	}
</style>
