---

---
<div class="social-links">
	<a title="thisjt's GitHub Profile" href="https://github.com/thisjt" class="fab fa-github" target="_blank"></a>
	<a title="thisjt's LinkedIn Profile" href="https://www.linkedin.com/in/thisjt/" class="fab fa-linkedin" target="_blank"></a>
	<a title="thisjt's Discord Profile" href="https://discordapp.com/users/174107703675846656" class="fab fa-discord" target="_blank"></a>
	<a title="thisjt's Stackoverflow Account" href="https://stackoverflow.com/users/2334332/thisjt" class="fab fa-stack-overflow" target="_blank"></a>
	<a title="thisjt's Public Email Address" href="mailto:contact@thisjt.me" class="fa fa-envelope" target="_blank"></a>
</div>